body {
  background: repeat url("../images/bg.png");
  color: $base-color;
  padding: 0;
  margin: 0;
  font-size: $font-size-base;
}

/* Text Input */
input[type='text'] {
  @extend .roundedborder;
  padding: .25em;
  width:100%;
  box-sizing: border-box;
}

.whenPseudo {
  display: none;
}

/* Bords arrondis
   Sert à être étendu
 */
.roundedborder {
  @include border-radius (.2em);
  border: 1px solid $border-color;
}

/* Boutons Close
 * Code de bootstrap
 */
.close {
  float: right;
  font-size: ($font-size-base * 1.5);
  font-weight: bold;
  line-height: 1;
  color: $base-color;
  text-shadow: 0 1px 0 #fff;
  @include opacity(.2);

  &:hover,
  &:focus {
    color: $base-color;
    text-decoration: none;
    cursor: pointer;
    @include opacity(.5);
  }
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}


/* Partial : Header */
.Header {
  @include clearfix();
  padding: 20px 50px;
  margin-bottom: 50px;
  
  background-color: white;
  border-bottom: 1px solid $border-color;
  
  &-title {
    margin: 0;
    float: left;
  }
  
  &-menu {
    margin: 0;
    padding: 0;
  }
}

/* Partial : Layout général */
.Main {
  
  /* Grid container */
  &-row {
    @include clearfix();
    @include container(960px);
  }
  
  /* Grid Chatbox container */
  &-ChatBox {
    @include span(3);
  }
  
  /* Grid PseudoList container */
  &-PseudoList {
    @include span(1 last);
  }
  
  /* Grid PrivateMessaging containers */
  &-PrivateMessaging {
    @include span(2);
  }
}

/* Mixin : Décrit un widget */
@mixin widget-variant($this-border-color) {
  @include box-shadow(#CCC 0 2px 10px);
  margin-bottom: 20px;
  background-color: #FBFBFB;
   
  &-header {
    @include clearfix(); // Pour la croix en flottant
    @include background-image(linear-gradient($gradient-color-top, $gradient-color-bottom));
    border-bottom: 1px solid $border-color;
    
    & button {
      margin-top: 5px;
      margin-right: 5px;
    }
  }
  
  &-title {
    margin: 0;
    padding: 0 10px;
    border-bottom: 3px solid $gradient-color-bottom;
    
    span {
      border-bottom: 4px solid $this-border-color;
    }
  }
}

/* Mixin : Espace pour écrire les messages */
@mixin widget-write-message() {
  &-writeMessageContent {
    background-color: $gradient-color-bottom;
    padding: 5px;
  }
  
  &-writeMessage {
    
  }
}

/* Widget de Chatbox */
.ChatBox {
  @include widget-variant($chat-box-color);
  @include widget-write-message();
}

/* Widget de selection du pseudo */
.SelectPseudo {
  @include widget-variant($chat-box-color);
  @include widget-write-message();
  @include container(960px);
  
  p {
    padding: 5px;
    margin: 0;
  }
}

/* Widget affichant la liste des pseudos */
.PseudoList {
  @include widget-variant($pseudo-list-color);
  
  &-list {  
    @include no-bullets;
    margin: 0 10px;
    padding: 0;
  }
  
  &-pseudoItem {
    padding: 2px 0;
    
    &_new {
      .PseudoList-pseudo {
        color: $main-color;
      }
    }
  }
  
  &-pseudo {
    @include unstyled-link;
    font-weight: bold;
    color: $text-dark-color;
    
    &:hover {
      color: $main-color;
    }
  }
}

/* Widget de PrivateMessaging */
.PrivateMessaging {
  @include widget-variant($private-messaging-color);
  @include widget-write-message();
}

/* Styles des messages */
@mixin messages($this-messages-height) {
  height: $this-messages-height;
  overflow-y: scroll;
  
  &-message {
    padding: 5px; 
    border-style: solid;
    border-color: $border-color;
    border-width: 0 0 1px;
  }
  
  &:last-child {
    border-width: 0;
  }
  
  &-author {
    color: #f3951b;
    font-weight: bold;
  }
  
  &-content {
    margin-left: 5px;
  }
}

// Messages pour la Chat Box
.ChatBoxMessage {
  @include messages($chat-box-messages-height);
}

// Messages pour les messageries privées
.PrivateMessagingMessage {
  @include messages($private-messaging-messages-height);
}
