$border-color: #d3d5b0;

// Colors
$color-orange: #f3951b;
$main-color: $color-orange;
$text-primary-color: $main-color;
$text-dark-color: #9B9D7B;
$pseudo-list-color: #951bf3;

$gradient-color-top: #d2cfac;
$gradient-color-bottom: #ecead5;

// Chat box

$chat-box-color: $color-orange;
$chat-box-messages-height: 300px;
