// Variables
@import "custom-variables.scss"; // Variables perso

// Others
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "compass/typography/lists/bullets";
@import "compass/typography/links/unstyled-link";
@import "susy";

$susy: (
    columns: 4,
    gutters: 1/8,
    gutter-position: split
);

// Partials
@import "partials/global.scss";
