@charset "UTF-8";
/* line 1, ../../sass/partials/global.scss */
body {
  background: repeat url("../images/bg.png");
  color: #353132;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

/* Text Input */
/* line 10, ../../sass/partials/global.scss */
input[type='text'] {
  padding: .25em;
  width: 100%;
  box-sizing: border-box;
}

/* line 17, ../../sass/partials/global.scss */
.whenPseudo {
  display: none;
}

/* Bords arrondis
   Sert à être étendu
 */
/* line 24, ../../sass/partials/global.scss */
.roundedborder, input[type='text'] {
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  border: 1px solid #d3d5b0;
}

/* Boutons Close
 * Code de bootstrap
 */
/* line 32, ../../sass/partials/global.scss */
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #353132;
  text-shadow: 0 1px 0 #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}
/* line 41, ../../sass/partials/global.scss */
.close:hover, .close:focus {
  color: #353132;
  text-decoration: none;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 49, ../../sass/partials/global.scss */
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

/* Partial : Header */
/* line 59, ../../sass/partials/global.scss */
.Header {
  overflow: hidden;
  *zoom: 1;
  padding: 20px 50px;
  margin-bottom: 50px;
  background-color: white;
  border-bottom: 1px solid #d3d5b0;
}
/* line 67, ../../sass/partials/global.scss */
.Header-title {
  margin: 0;
  float: left;
}
/* line 72, ../../sass/partials/global.scss */
.Header-menu {
  margin: 0;
  padding: 0;
}
/* line 77, ../../sass/partials/global.scss */
.Header-pseudo {
  float: right;
}

/* Partial : Layout général */
/* line 83, ../../sass/partials/global.scss */
.Main {
  /* Grid container */
  /* Grid Chatbox container */
  /* Grid PseudoList container */
  /* Grid PrivateMessaging containers */
}
/* line 86, ../../sass/partials/global.scss */
.Main-row {
  overflow: hidden;
  *zoom: 1;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../../var/lib/gems/1.9.1/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.Main-row:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 92, ../../sass/partials/global.scss */
.Main-ChatBox {
  width: 72.22222%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
}
/* line 97, ../../sass/partials/global.scss */
.Main-PseudoList {
  width: 22.22222%;
  float: right;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
}
/* line 102, ../../sass/partials/global.scss */
.Main-PrivateMessaging {
  width: 47.22222%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
}

/* Mixin : Décrit un widget */
/* Mixin : Espace pour écrire les messages */
/* Widget de Chatbox */
/* line 148, ../../sass/partials/global.scss */
.ChatBox {
  -moz-box-shadow: #CCC 0 2px 10px;
  -webkit-box-shadow: #CCC 0 2px 10px;
  box-shadow: #CCC 0 2px 10px;
  margin-bottom: 20px;
  background-color: #FBFBFB;
}
/* line 113, ../../sass/partials/global.scss */
.ChatBox-header {
  overflow: hidden;
  *zoom: 1;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QyY2ZhYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VjZWFkNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d2cfac), color-stop(100%, #ecead5));
  background-image: -moz-linear-gradient(#d2cfac, #ecead5);
  background-image: -webkit-linear-gradient(#d2cfac, #ecead5);
  background-image: linear-gradient(#d2cfac, #ecead5);
  border-bottom: 1px solid #d3d5b0;
}
/* line 118, ../../sass/partials/global.scss */
.ChatBox-header button {
  margin-top: 5px;
  margin-right: 5px;
}
/* line 124, ../../sass/partials/global.scss */
.ChatBox-title {
  margin: 0;
  padding: 0 10px;
  border-bottom: 3px solid #ecead5;
}
/* line 129, ../../sass/partials/global.scss */
.ChatBox-title span {
  border-bottom: 4px solid #f3951b;
}
/* line 137, ../../sass/partials/global.scss */
.ChatBox-writeMessageContent {
  background-color: #ecead5;
  padding: 5px;
}

/* Widget de selection du pseudo */
/* line 154, ../../sass/partials/global.scss */
.SelectPseudo {
  -moz-box-shadow: #CCC 0 2px 10px;
  -webkit-box-shadow: #CCC 0 2px 10px;
  box-shadow: #CCC 0 2px 10px;
  margin-bottom: 20px;
  background-color: #FBFBFB;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
/* line 113, ../../sass/partials/global.scss */
.SelectPseudo-header {
  overflow: hidden;
  *zoom: 1;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QyY2ZhYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VjZWFkNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d2cfac), color-stop(100%, #ecead5));
  background-image: -moz-linear-gradient(#d2cfac, #ecead5);
  background-image: -webkit-linear-gradient(#d2cfac, #ecead5);
  background-image: linear-gradient(#d2cfac, #ecead5);
  border-bottom: 1px solid #d3d5b0;
}
/* line 118, ../../sass/partials/global.scss */
.SelectPseudo-header button {
  margin-top: 5px;
  margin-right: 5px;
}
/* line 124, ../../sass/partials/global.scss */
.SelectPseudo-title {
  margin: 0;
  padding: 0 10px;
  border-bottom: 3px solid #ecead5;
}
/* line 129, ../../sass/partials/global.scss */
.SelectPseudo-title span {
  border-bottom: 4px solid #f3951b;
}
/* line 137, ../../sass/partials/global.scss */
.SelectPseudo-writeMessageContent {
  background-color: #ecead5;
  padding: 5px;
}
/* line 12, ../../../../../../../../../var/lib/gems/1.9.1/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.SelectPseudo:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 159, ../../sass/partials/global.scss */
.SelectPseudo p {
  padding: 5px;
  margin: 0;
}

/* Widget affichant la liste des pseudos */
/* line 166, ../../sass/partials/global.scss */
.PseudoList {
  -moz-box-shadow: #CCC 0 2px 10px;
  -webkit-box-shadow: #CCC 0 2px 10px;
  box-shadow: #CCC 0 2px 10px;
  margin-bottom: 20px;
  background-color: #FBFBFB;
}
/* line 113, ../../sass/partials/global.scss */
.PseudoList-header {
  overflow: hidden;
  *zoom: 1;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QyY2ZhYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VjZWFkNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d2cfac), color-stop(100%, #ecead5));
  background-image: -moz-linear-gradient(#d2cfac, #ecead5);
  background-image: -webkit-linear-gradient(#d2cfac, #ecead5);
  background-image: linear-gradient(#d2cfac, #ecead5);
  border-bottom: 1px solid #d3d5b0;
}
/* line 118, ../../sass/partials/global.scss */
.PseudoList-header button {
  margin-top: 5px;
  margin-right: 5px;
}
/* line 124, ../../sass/partials/global.scss */
.PseudoList-title {
  margin: 0;
  padding: 0 10px;
  border-bottom: 3px solid #ecead5;
}
/* line 129, ../../sass/partials/global.scss */
.PseudoList-title span {
  border-bottom: 4px solid #951bf3;
}
/* line 169, ../../sass/partials/global.scss */
.PseudoList-list {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}
/* line 11, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_bullets.scss */
.PseudoList-list li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 175, ../../sass/partials/global.scss */
.PseudoList-pseudoItem {
  padding: 2px 0;
}
/* line 179, ../../sass/partials/global.scss */
.PseudoList-pseudoItem_new .PseudoList-pseudo {
  color: #f3951b;
}
/* line 185, ../../sass/partials/global.scss */
.PseudoList-pseudo {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  font-weight: bold;
  color: #9B9D7B;
}
/* line 6, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_unstyled-link.scss */
.PseudoList-pseudo:active, .PseudoList-pseudo:focus {
  outline: none;
}
/* line 190, ../../sass/partials/global.scss */
.PseudoList-pseudo:hover {
  color: #f3951b;
}

/* Widget de PrivateMessaging */
/* line 197, ../../sass/partials/global.scss */
.PrivateMessaging {
  -moz-box-shadow: #CCC 0 2px 10px;
  -webkit-box-shadow: #CCC 0 2px 10px;
  box-shadow: #CCC 0 2px 10px;
  margin-bottom: 20px;
  background-color: #FBFBFB;
}
/* line 113, ../../sass/partials/global.scss */
.PrivateMessaging-header {
  overflow: hidden;
  *zoom: 1;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QyY2ZhYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VjZWFkNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d2cfac), color-stop(100%, #ecead5));
  background-image: -moz-linear-gradient(#d2cfac, #ecead5);
  background-image: -webkit-linear-gradient(#d2cfac, #ecead5);
  background-image: linear-gradient(#d2cfac, #ecead5);
  border-bottom: 1px solid #d3d5b0;
}
/* line 118, ../../sass/partials/global.scss */
.PrivateMessaging-header button {
  margin-top: 5px;
  margin-right: 5px;
}
/* line 124, ../../sass/partials/global.scss */
.PrivateMessaging-title {
  margin: 0;
  padding: 0 10px;
  border-bottom: 3px solid #ecead5;
}
/* line 129, ../../sass/partials/global.scss */
.PrivateMessaging-title span {
  border-bottom: 4px solid #305763;
}
/* line 137, ../../sass/partials/global.scss */
.PrivateMessaging-writeMessageContent {
  background-color: #ecead5;
  padding: 5px;
}

/* Styles des messages */
/* line 229, ../../sass/partials/global.scss */
.ChatBoxMessage {
  height: 300px;
  overflow-y: scroll;
}
/* line 207, ../../sass/partials/global.scss */
.ChatBoxMessage-message {
  padding: 5px;
  border-style: solid;
  border-color: #d3d5b0;
  border-width: 0 0 1px;
}
/* line 214, ../../sass/partials/global.scss */
.ChatBoxMessage:last-child {
  border-width: 0;
}
/* line 218, ../../sass/partials/global.scss */
.ChatBoxMessage-author {
  color: #f3951b;
  font-weight: bold;
}
/* line 223, ../../sass/partials/global.scss */
.ChatBoxMessage-content {
  margin-left: 5px;
}

/* line 234, ../../sass/partials/global.scss */
.PrivateMessagingMessage {
  height: 200px;
  overflow-y: scroll;
}
/* line 207, ../../sass/partials/global.scss */
.PrivateMessagingMessage-message {
  padding: 5px;
  border-style: solid;
  border-color: #d3d5b0;
  border-width: 0 0 1px;
}
/* line 214, ../../sass/partials/global.scss */
.PrivateMessagingMessage:last-child {
  border-width: 0;
}
/* line 218, ../../sass/partials/global.scss */
.PrivateMessagingMessage-author {
  color: #f3951b;
  font-weight: bold;
}
/* line 223, ../../sass/partials/global.scss */
.PrivateMessagingMessage-content {
  margin-left: 5px;
}
